@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@300&display=swap');

@import url('header.css');
@import url('footer.css');

body {
    background: #141414 !important;
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding:0;
    overflow-x: hidden;
}
