header {
    margin: 0;
    width:100vw;
}

#header-framework-version {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.languages-popup {
    width: 100px;
    padding: 10px;
    display: none;
    position: absolute;
}

.languages:hover .languages-popup {
    display: block;
}

.start {
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    display: flex;
    flex-flow: row;
}

.logo {
    float: left;
    pointer-events: none;
}

.about {
    padding-top: 100px;
    text-align: left;
}

.about h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.about p {
    font-size: 25px;
    color: white;
}

.about .btn-started {
    margin: 5px;

    width: 250px;
    height: 50px;

    background: none;

    color: white;

    font-size: 25px;
    font-family: 'PT Sans', sans-serif !important;
    font-weight: lighter;

    border-radius: 25px;
    border: 1px solid white;
    cursor: pointer;
}

.about div{
    display: flex;
    flex-flow: row;
}

.btn-started {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 13px;
}

.btn-started p{
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    width:250px;
    text-align: center;
}

.btn-github {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 13px;
}

.btn-github p{
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    width:200px;
    text-align: center;

    color: #141414;

    font-size: 25px;
    font-family: 'PT Sans', sans-serif !important;
    font-weight: lighter;
}

.about .btn-github {
    margin: 5px;

    width: 200px;
    height: 50px;

    background: white;

    color: #141414;

    font-size: 25px;
    font-family: 'PT Sans', sans-serif !important;
    font-weight: lighter;

    border-radius: 25px;
    border: 1px solid white;
    cursor: pointer;
}

nav {
    margin: 0 auto;
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

nav h2 {
    margin-left: 50px;
    font-size: 25px;
}

nav input {
    padding: 5px;
    padding-left: 20px;
    margin-right: 100px;

    height: 30px;
    width: 350px;

    border-radius: 5px;
    border: 1px solid #242526;

    color: white;
    background: #242526;

    transition: 0.2s;

    font-size: 20px;

    outline: none;
}

nav input:focus {
    border-radius: 20px 0px 20px 0px;
}

nav ul {
    position: absolute;
    right: 0;
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
}

nav li {
    list-style-type: none;
    margin-top: 5px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

nav a:hover {
    color: silver;
}
