@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@300&display=swap');

body {
    background: #141414 !important;
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding:0;
    overflow-x: hidden;
}

hr {
    border: 1px solid #242526;
    width: 80%;
}

header {
    margin: 0;
    width:100%;
}

header .start {
    margin: 0 auto;
    width: 1000px;
    height: 500px;
}

header .logo {
    float: left;
    pointer-events: none;
}

header .about {
    padding-top: 100px;
    text-align: left;
}

header .about h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

header .about p {
    font-size: 25px;
    color: white;
}

header .about .btn-started {
    margin: 5px;

    width: 250px;
    height: 50px;

    background: none;

    color: white;

    font-size: 25px;
    font-family: 'PT Sans', sans-serif !important;
    font-weight: lighter;

    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}

header .about .btn-github i {
    font-size: 30px;
}

header .about .btn-github {
    margin: 5px;

    width: 200px;
    height: 50px;

    background: white;

    color: #141414;

    font-size: 25px;
    font-family: 'PT Sans', sans-serif !important;
    font-weight: lighter;

    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}

nav {
    margin: 0 auto;
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

nav h2 {
    margin-left: 50px;
    font-size: 25px;
}

nav input {
    padding: 5px;
    padding-left: 20px;
    margin-right: 100px;

    height: 30px;
    width: 350px;

    border-radius: 5px;
    border: 1px solid #242526;

    color: white;
    background: #242526;

    transition: 0.2s;

    font-size: 20px;

    outline: none;
}

nav input:focus {
    border-radius: 20px 0px 20px 0px;
}

nav ul {
    position: absolute;
    right: 0;
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
}

nav li {
    list-style-type: none;
    margin-top: 5px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

nav a:hover {
    color: silver;
}

.features {
    margin: 0 auto;
    width: 1000px;
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: rgb(10,10,10);
}

.features h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 0 auto;
}

#feature0{
    width:100vw;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

#feature0 div {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    text-align: center;
    width:calc(100vw - 35%);
}

#feature0 div div {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

#feature0 div div div {
    width: 30%;
    display:inline;
    margin: 0;
    padding: 0;
}

#feature0 div div h2 {
    color:rgb(240,240,240);
    font-size: 30px;
    font-weight: 300;
    font-family: 'PT Sans', sans-serif !important;
    width: 100%;
    padding-bottom: 20px;
    margin: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;

}

#feature0 div div  p {
    color:rgb(150,150,150);
    font-size: 20px;
    font-family: 'PT Sans', sans-serif !important;

    padding:0;
    margin: 0;

}

#editor {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;

    height: 300px;
    width: 45%;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.left-editor {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;

    height: 300px;
    width: calc(30% - 40px);

    margin-right: 2%;
    margin-left: 2%;

    padding-left: 20px;
    padding-right: 20px;

    border-radius: 10px;
}

.right-editor {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;

    height: 300px;
    width: 20%;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: #242526;
}

.right-editor h2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

.right-editor p {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.left-editor p {
    color:rgb(150,150,150);
    font-size: 20px;
    font-family: 'PT Sans', sans-serif !important;
}

#header-framework-version {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#feature1 {
    width:calc(100vw - 35%);
    padding-left: 17%;
    padding-right: 17%;
    display: flex;
    flex-wrap: wrap;
}
